
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  transition: background-color .5s ease-in-out;
}

input {
  display: none;
}

.label {
  width: 13rem;
  height: 6rem;
  padding: .5rem 1rem;
  border-radius: 9999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(190, 182, 182, .7);
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
  position: relative;
  cursor: pointer;
}

i.fa-regular {
  font-size: 2.3em;
}

i.moon {
  color: rgba(0, 45, 179);
}

i.sun {
  color: yellow;
}

.circle {
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #fff;
  left: .8rem;
  animation: toggleOff .5s cubic-bezier(.7,-0.41,.42,1.33) forwards;
  transition: background-color .5s ease-in-out;
}

input:checked + .label .circle {
  animation: toggleOn .5s cubic-bezier(.7,-0.41,.42,1.33) forwards;
}

@keyframes toggleOn {
  0% { transform: translateX(0);}
  100% { transform: translateX(66px);}
}

@keyframes toggleOff {
  0% { transform: translateX(66px);}
  100% { transform: translateX(0px);}
}
